.text-effect {
    color:#0EA5E9;
    font-style: bold;
}

.about-me-title {
    position: relative;
}

.about-me-title::after {
    content: '';
    position: absolute;
    background-color: hsl(199, 89%, 48%);
    height: 2px;
    width: 30%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.resume-btn {
    transition: all 0.3s ease;
}

.show {
    transform: translateX(0%);
}

.rightHide {
    transform: translateX(300%);
}

.leftHide {
    transform: translateX(-150%);
}