.text-effect {
    color:#0EA5E9;
    font-style: bold;
}

.about-me-title {
    position: relative;
}

.about-me-title::after {
    content: '';
    position: absolute;
    background-color: #0EA5E9;
    height: 3px;
    width: 20%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.resume-btn {
    transition: all 0.3s ease;
}