
@media screen and (min-width: 375px) {
  .input-box input,
  .input-box textarea {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: inherit;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 0.9em;
    padding: 10px;
    transition: 0.5s;
  }

  .input-box span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: capitalize;
    transition: 0.5s;
  }

  .input-box input:valid ~ span,
  .input-box input:focus ~ span {
    color: rgb(14, 165, 233);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.8em;
    padding: 0 10px;
    background-color: rgb(15, 23, 42);
    letter-spacing: 0.2em;
  }

  .hide-placeholder {
    opacity: 0;
    transition: 0.5s;
  }

  .input-box input:valid,
  .input-box input:focus,
  .input-box textarea:focus {
    border: 1px solid   rgb(14 165 233);
  }

  .box {
    position: relative;
    width: 380px;
    height: 550px;
    background-color: inherit;
    border-radius: 8px;
    overflow: hidden;
  }

  .box form {
    position: absolute;
    inset: 4px;
    overflow: hidden;
    z-index: 2;
  }

  .box::before {
    content: '';
    position: absolute;
    width: 380px;
    height: 550px;
    top: -50%;
    left: -50%;
    z-index: 1;
    background: linear-gradient(0deg, transparent, transparent, rgb(14 165 233), rgb(14 165 233), rgb(14 165 233));
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
  }

  .box::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 550px;
    top: -50%;
    left: -50%;
    z-index: 1;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
    animation-delay: -1s;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: 450px;
    max-width: 500px;
    height: 530px;
    max-height: 550px;
  }
}
